@import '../../vars.css';

.parallax {
  position: relative;
  height: 100vh;
  background-image: url('background.jpg'); /* Pfad zu deinem Hintergrundbild */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff; /* Weißer Text für guten Kontrast */
  text-align: center;
  overflow: hidden; /* Verhindert das Überlaufen von Inhalten */
}

.content {
  position: relative;
  z-index: 2; /* Sicherstellt, dass der Inhalt über dem Hintergrund liegt */
}

h1 {
  font-size: 3rem;
  margin: 0;
}

p {
  font-size: 1.5rem;
}
