.container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
    box-shadow: 0 16px 14px 0 #04152d;
    padding: 18px;
    max-width: 435px;
    z-index: 10;
    position: relative;
    overflow: hidden;
}

.glassEffect {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    border: 0.2px solid rgba(255, 255, 255, 0.25);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.mediaContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.projectVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}

.mediaContainer:hover .projectVideo {
    opacity: 1;
}

.overlay {
    position: relative;
    z-index: 1;
    padding: 20px ;
    background: rgba(0, 0, 0, 0.7); /* Optional: adds a semi-transparent background to text */
    border-radius: 10px;
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 25px;
    font-weight: 700;
    color: var(--color-button-secondary);
    margin-top: 18px;
}

.description {
    margin-top: 6px;
    font-size: 15px;
    font-weight: 400;
}

.skills {
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
}

.skill {
    font-size: 14px;
    font-weight:300;
    border-radius: 100px;
    background: var(--color-button-primary);
    padding: 2px 14px;
}

.links {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.link {
    text-decoration: none;
    color: var(--color-text);
    font-size: 18px;
    font-weight: 400;
    border-radius: 100px;
    background: var(--color-button-secondary);
    padding: 1px 22px;
    margin-bottom: 24px;
}

.hr {
    margin: 15px;
}

@media screen and (max-width: 830px) {
    .container {
        max-width: 600px;
    }

    .link {
        font-size: 32px;
    }
}

@media screen and (max-width: 630px) {
    .container {
        max-width: 330px;
    }
    .projectImg {
        height: 150px;
        margin-bottom: 26px;
    }
    .title {
        text-align: center;
    }

    .description {
        margin-top: 6px;
        font-size: 25px;
        font-weight: 400;
    }

    .link {
        font-size: 24px;
    }

    .skills {
        justify-content: center;
    }
}

@media screen and (max-width: 415px) {
    .container {
        max-width: 330px;
    }
    .links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .link {
        font-size: 24px;
        padding: 0 14px;
        margin-bottom: 20px;
    }
}
