@import "../../vars.css";


.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 49px;
    z-index: 1;
    margin: 0 10%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}

.title {
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 33px;
    font-family: var(--font-robot);
}

.description {
    font-size: 30px;
    height: 120px;
    font-family: var(--font-robot);
    margin-bottom: 52px;
}

.contactBtn {
    text-decoration: none;
    background-color: var(--color-button-secondary);
    color: var(--color-text);
    border-radius: 100px;
    font-size: 30px;
    font-weight: 600;
    padding: 17px 26px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    
    /* Für den Ripple-Effekt */
    position: relative;
    overflow: overflow; /* verhindert, dass die Welle über die Kante hinausläuft */
    cursor: pointer;
}

/* Das Span, das die "Welle" darstellt */
.ripple {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(197, 56, 202, 0.4);
    transform: translate(-50%, -50%);
    pointer-events: none; /* nimmt keine Klicks an */
    opacity: 0; /* Anfangs unsichtbar */
}

/* Animation wird getriggert, solange der Button "active" ist */
.contactBtn:hover .ripple {
    animation: ripple-animation 0.6s ease-out forwards;
}

/* Keyframes für das Aufblasen und Verblassen */
@keyframes ripple-animation {
    0% {
        width: 0;
        height: 0;
        opacity: 0.8;
    }
    50% {
        width: 100px; /* an Button-Größe anpassen */
        height: 100px;
        opacity: 0.5;
    }
    100% {
        width: 200px; /* an Button-Größe anpassen */
        height: 200px;
        opacity: 0;
    }
}

  

/* contactbutton playground  */


.heroImgContainer{
    
    width: 300px;
    
}

.heroImg {
    margin-top: 48px;
    width: 48%;
    z-index: 1;
    border-radius: 10%;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 10px);
    }

    100% {
        transform: translate(0, -0px);
    }
}


@media screen and (max-width: 831px) {
    .container {
        flex-direction: column-reverse;
        /* background-color: black; */

        .heroImg {
            /* background-color: yellow; */
            width: 75%;
        }
    }

    

    .content {
        align-items: center;
    }


    .title {
        font-size: 48px;
        padding-left: 5%;
       
    }

    .description {
        font-size: 24px;
        margin-bottom: 52px;
        padding-left: 5%;

    }

    .contactBtn {
        border-radius: 100px;
        font-size: 24px;
        font-weight: 600;
        padding: 12px 22px;
       
    }
}

@media screen and ( max-width: 320px ) {
    .title {
        font-size: 40px;
       
    }

    .description {
        font-size:16px;
        margin-bottom: 52px;
    }

    .contactBtn {
        border-radius: 100px;
        font-size: 20px;
        font-weight: 600;
        padding: 8px 18px;
       
    }
}    
