@import '../../vars.css';

.container {
    color: var(--color-text);
    margin-top: 79px;
    margin-left: 10%;
    margin-right: 10%;
}

.title {
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}


.content {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    z-index: 1;
}

.skills {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    gap: 48px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}

.skillImageContainer {
    background-color: var(--color-accent-soft);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    z-index: 1;
    margin: 0 10px ;
}

.skillImageContainer img {
    max-width: 70px;
    z-index: 1;
}

.skill p {
    font-size: 25px;
    font-family: var(--font-roboto);
    font-weight: 500;
    z-index: 1;
}

.skillPoints {
    justify-content: center;
    align-items: flex-end;
    padding-top: 5px;
}
.star {
    height: 10px;
    margin: 3px;
}


@media screen and (max-width: 410px) {
    .skillImageContainer {
        background-color: var(--color-accent-soft);
        box-sizing: border-box;
        border-radius: 50%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        z-index: 1;
        margin: 0 8px ;
    }
    
    .skillImageContainer img {
        width: 50px;
        z-index: 1;
    }
    
    .skill p {
        font-size: 25px;
        font-family: var(--font-roboto);
        font-weight: 500;
        z-index: 1;
    }
    
    .skillPoints {
        justify-content: center;
        align-items: flex-end;
        padding-top: 5px;
    }
    .star {
        height: 10px;
        margin: 3px;
    }
}
