@import '../../vars.css';

svg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  svg path {
    fill: rgba(97, 174, 238, 0.9);
  }
  
  svg path:nth-child(1) {
    fill: rgba(97, 174, 238, 0.9);
  }