@import '../../vars.css';

.container {
    color: var(--color-text);
    margin-top: 79px;
    margin-left: 10%;
    margin-right: 10%;
}

.title {
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}


.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 14px;
    z-index: 1;
}

.history {
    display: flex;
    gap: 40px;
}

.historyItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
    /* height: auto; */
    gap: 17px;
    /* background: #19376d; */
    /* background: linear-gradient(90deg, #19376d 0%, rgba(25, 25, 109, 0)100%); */
    border-radius: 10px;
    padding: 24px;
    z-index: 1;
}

.companyImgContainer {
    display: flex;
    justify-items: center;

}

.historyImg {
    width: 200px;
}

.history {
    display: flex;
    flex-wrap: wrap;
}

.historyItemDetails {
    
    font-family: var(--font-roboto);
}

.historyItemDetails h3 {
    font-size: 30px;
    font-weight: 500;
    text-align: -webkit-center;
    margin-bottom: 10px;
    margin-top: 30px;

}

.historyItemDetails h2 {
    font-size: 20px;
    font-weight: 400;
    text-align: -webkit-center;
    margin-bottom: 10px;
    margin-top: 30px;

}

.historyItemDetails p {
    font-size: 20px;
    font-weight: 300;
    text-decoration: overline;
    text-align: -webkit-center;
 
}

.historyItemDetails ul {
    margin-top: 12px;
    list-style-position: inside;
    list-style-type: circle;
    margin-left: 18%;
}

.experience {
    font-size: 18px;
}

.glassEffect {
    background: rgba(255, 255, 255, 0.05);
    /* Einfaches transparentes Weiß */
    border-radius: 15px;
    /* Etwas größerer Radius für weichere Ecken */
    border: 0.2px solid #ffffff40;
    /* Hellerer Rand für besseren Kontrast */
    -webkit-backdrop-filter: blur(15px);
    /* Stärkere Unschärfe für mehr Glass-Effekt */
    backdrop-filter: blur(3px);
    /* Stärkere Unschärfe für mehr Glass-Effekt */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    /* Sanfter Schatten für ein subtileres Aussehen */
    padding: 20px;
    margin-bottom: 20px;

    /* Weicherer Rand */
}

.glassEffect:hover {

    border: 0.2px solid #a59954;
}


@media screen and (max-width: 950px) {
    .history {
        display: flex;
        gap: 40px;
    }

    .historyItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 380px;
        height: auto;
        gap: 17px;
        /* background: #19376d; */
        /* background: linear-gradient(90deg, #19376d 0%, rgba(25, 25, 109, 0)100%); */
        border-radius: 10px;
        padding: 24px;
        z-index: 1;
    }
}



@media screen and (max-width: 830px) {
    .content {
        align-items: center;
        gap: 34px;
    }

    .skills {
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    .history {
        display: inline-block;
    }

}

@media screen and (max-width: 450px) {

    .historyItem {
        display: flex;
        flex-direction: column;
        max-width: 320px;

    }

    .experience {
        font-size: 12px;
    }


}

@media screen and (max-width: 360px) {

    .historyItem {
        display: flex;
        flex-direction: column;
        width: 250px;

    }

    .experience {
        font-size: 12px;
    }


}