@import "../vars.css";

.App {
    background-color: var(--color-bg);
    background-image: url('/assets/img/carbon_fibre.webp');
    background-repeat: repeat;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}
