@font-face {
  font-family: 'Outfit';
  src: url('../assets/font/Outfit/static/Outfit-Regular.ttf') format('truetype');  
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/font/Outfit/static/Outfit-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}




.glassEffect {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 10%);
  border-radius: 10px;
  border: 0.2px solid rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  padding: 20px;
  margin-bottom: 20px;
}