:root {
    /* Colours */
    /* --color-text: #fff;
    --color-text-black: #0e0e0e;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #04152d; */

    --color-text: #e1e6e9;
    --color-text-black: #0e0e0e;
    --color-primary: hsla(309, 76%, 18%, 0.5);
    
    --color-dark: #0b2447;
   
    /* --color-bg: #06252b; */
    /* --color-bg: #16879D; */
    
;

    --color-accent-light: #1d5d73;
    /* --color-accent-soft: #4a6d7c; */
    
    ;
   
    --color-text-light: #e1e6e9;
    --color-complementary: #7a4b6e;
    --color-accent-dark: #092d3e;

    /* neues Color Schema */

    /* --color-bg: #2811A1;
    --color-accent-soft: #A11143;
    --color-accent-hard: #11A128;
    --color-secondary: #8BA111; /* vl abändern*/ 

    --color-bg: #005a66ab; /* Background*/
    --color-button-primary: #ff0080a9; /* Button primary */
    --color-button-secondary: #a59954; /* Button seconday*/
    --color-accent-soft: #8BA111; /* vl abändern*/ 

    /* Fonts */

    --font-robot: "Roboto";

}